<html>
    <head>
        <title>About</title>
         <link href="img/weather.jpg" rel="icon">
        <link type="text/css" href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-contain">
            {{> header}}
            <img class="personimg" src="img/personimg.jpeg">
            <p>Name : {{name}}</p>
            <p>Contact No. : 9637448957</p>
        </div>
        
        {{> footer}}
    </body>
</html>