<html>
    <head>
        <title>Error</title>
         <link href="img/weather.jpg" rel="icon">
        <link type="text/css" href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-contain">
            {{> header}}
            <p>{{errormsg}}</p>
        </div>
        
        {{> footer}}
    </body>
</html>