<html>
    <head>
        <title>Help</title>
         <link href="img/weather.jpg" rel="icon">
        <link type="text/css" href="css/style.css" rel="stylesheet">
       
    </head>
    <body>
        <div class="main-contain">
            {{> header}}
            <p>{{helptext}}</p>
        </div>
        
        {{> footer}}
    </body>
</html>